body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu, sans;
}

/* Navbar CSS */
.navbar {
  background-color: bisque;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 9vh;
}
.navbar .logo {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}
.navbar .logo img {
  height: 40px;
}
.links .linkList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
}
.links .linkList li {
  list-style: none;
}
.links .linkList li a {
  text-decoration: none;
  border: none;
  color: black;
  font-size: 18px;
}
.links #hamburger {
  display: none;
}

/* Add Product CSS */
.add {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.add .addProduct{
  cursor: pointer;
}

/* Product Page CSS */
#productList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  transition: opacity ease-in-out 0.2s;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 250px;
  padding: 5px;
  border-radius: 15px;
  margin: 10px;
  border: 1px solid gray;
  cursor: pointer;
}
.product .productImg{
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}
.product .productImg img {
  object-fit: cover;
  height: 230px;
  width: 180px;
  border-radius: 10px;
  padding: 5px;
}
.productImg .editProduct{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5px;
}
.productImg .editProduct div{
  height: 35px;
  width: 35px;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  &:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.1s;
  }
}
.productImg .editProduct img{
  height: 20px;
  width: 20px;
  padding: 7px;
}
.details .productName {
  font-weight: bold;
  font-size: 17px;
  padding: -2px;
}
.details .category span {
  color: rgb(49, 49, 215);
}
.details .price {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.newPrice {
  font-size: 18px;
}
.oldPrice {
  text-decoration: line-through;
  font-size: 14px;
}
.details .rating img {
  height: 12px;
}
/* Form CSS */
form {
  width: 47vw;
  margin: auto;
  font-size: 18px;
  text-align: center;
  display: none;
  z-index: 10;  
  top:20%;
  left: 50%;
  transform: translate(-50% ) ;
  background:linear-gradient(to bottom, white,rgb(249, 229, 204) 20%,white );
  box-shadow: 1px 4px 10px 0px black;
}
fieldset{
  border-radius: 5px;  
}
form legend {
  font-size: 20px;
  font-weight: bold;
}
form .formChild {
  margin: 25px;
}
form .formChild input {
  height: 28px;
  margin-left: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  &:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.2s ;
  }
}
form .formChild textarea{
  height: 28px;
  margin-left: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  &:hover{
    transform: scale(1.1);
    transition: scale ease-in-out 0.2s ;
  }
}

form .formChild button {
  padding: 5px 15px;
  font-size: 17px;
  border-radius: 3px;
  border: none;
  color: white;
  background-color: rgb(11, 105, 244);
  cursor: pointer;
}
form .formChild .cancel{
  background-color: rgb(206, 2, 2);
}

@media (max-width: 600px) {
  .links #hamburger {
    display: block;
    font-size: 22px;
  }
  .links .linkList {
    display: none;
  }
  .product {
    width: 200px;
  }
  .product .productImg img {
    object-fit: cover;
    height: 200px;
    width: 160px;
    border-radius: 10px;
  }
  .details {
    font-size: 15px;
  }
}

